.box{
width:100px ;
height: 100px;
background-color: lightblue;
}
.box2{
    margin: 30px;   /*all 4 sides same cell*/
    margin: 10px 30px; /*Top:10 right:30 */
    margin: 10px 30px 20px 40px; /* Top:10 right:30 bottom:20px left:40px */
    margin:auto;/*Centeres horizontally*/


}
body{
    background-color: rgb(42, 165, 77);
}
.border{
    border: 2px solid black;
    border-right: 3px dotted red;
    border-bottom: 4px dashed blue;
    border-radius: 20px;
}